.hotel h4 {
	padding: 15px 15px 15px 0px;
}

.hotel p {
	padding: 15px 15px 15px 0px;
}

.hotel h5 {
	padding: 15px 15px 15px 0px;
	color: #969696;
	font-style: italic;
}

.hotel a:hover {
	color: #969696;
	text-decoration: none;
}

.hotel a {
	color: #ff6262;
}