.wrapper {
	padding: 40px;
	margin-top: -75px;
	background-color: white;
}

.wrapper2 {
	padding: 0px 40px 40px 40px
}

a {
	color: #ff6262;
}

a:hover {
	color: #969696;
	text-decoration: none;

}

.wrapper img {
	width: 273px;
	margin: 0px;
}

.wrapper2 img {
	width: 273px;
	margin: 0px;
}


