/* The border is respnsive but the image isn't. 
	The overlay is laying over the watermelon color and making it too dark
	need to add exact address and not long and lat for the*/

.beach-background {
	background-image: url("images/beachpicture.jpg");
	color: white;
	font-family: 'Oswald', sans-serif;
	padding-left: 0px;
	padding-right: 0px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center; 
}

.beach-background h1 {
	font-weight: 700;
	font-size: 55px;
}

.beach-background h1:hover {
	color: #ff6262;
}

.beach-background header {
	padding: 50px;
}

.tagline {
	font-family: 'Oleo Script', cursive;
	text-transform: lowercase;
	font-size: 30px;
}

.main-nav {
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	padding: 15px 0px 15px 0px;
	background: #5C5C5C;
	opacity: 0.7;
	
}

.main-nav li {
	padding-left: 20px;
	padding-right: 20px
}

.main-nav a {
	color: white;
}

.main-nav a:hover {
	color: #ff6262;
}

.story {
	margin-top: -75px;
	padding: 40px;
	background-color: white;
}

.story article p {
	padding-top: 25px;
	text-align: justify;
	color: #969696;
}

.story h4 {
	color: #ff6262;
	font-family: 'Montserrat', sans-serif;
	padding: 17px;
}

.story h6 {
	color: #969696;
	font-size: 16px;
	padding: 0px 15px 15px 15px;
	font-style: italic;
	margin-top: 0px;
}

.story p {
	color: #969696;
	font-size: 16px;
	margin-top: 10px;
	padding: 17px;
}

.story footer {
	padding-top: 50px;
}

#map-canvas,
#map-canvas-2 {
	height: 400px;
}

footer {
	padding-top: 25px;
}

footer i {
	color: #5C5C5C;
}
